div.computer {
	background-color: #555555;
	color: #000;
	border-style:solid;
}
div#row1 {
	position:absolute;
	left:0px;
	width: 25%;
}
div#row2 {
	position:absolute;
	width:25%;
}
div#row3 {
	position:absolute;
	width:25%;
}
div#row4 {
	position:absolute;
	right:0px;
	width:25%;

}
