body, html {
          height: 100%;
          margin: 0;
          overflow-x: hidden;
          overflow-y: hidden;
          background:#2d2f54;
          -webkit-font-smoothing: antialiased;
          font-weight: 100;
          text-align: left;
          font-family: helvetica;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
}

input {
          padding: 10px;
          font-size: 20px;
}

.tabs input[type=radio] {
          position: absolute;
          top: -9999px;
          left: -9999px;
}

.tabs {
          width: 100%;
          height: 50px;
          float: none;
          list-style: none;
          position: relative;
          padding: 0;
}

.tabs li{
          float: left;
}

.tabs label {
          z-index: 3;
          display: block;
          margin: 3px;
          padding: 10px 20px;
          background: #3A4B6A;
          color: #4F778C;
          font-size: 3em;
          position: relative;
          top: 0px;
}

.tabs label:hover {
          background: rgba(255,255,255,0.5);
          top: 0;
}

[name=tabs]:checked + label {
          background: #72bfc4;
          opacity: 1;
          filter: alpha(opacity=100);
          color: #3b356b;
          top: 0;
}

[name=tabs]:checked ~ [class=tab-content] {
          display: block;
}

.tab-content{
          display: none;
          text-align: right;
          width: 100%;
          height: 2.5em;
          font-size: 30px;
          background: #72bfc4;
          color: #3b356b;
          position: absolute;
          top: 0;
          right: 0;
          box-sizing: border-box;
}

.button {
          background-color: #4b8f29;
          -moz-border-radius:4px;
          -webkit-border-radius:4px;
          border-radius:4px;
          border:1px solid #4b8f29;
          display:inline-block;
          color:#ffffff;
          font-family:Verdana;
          font-size: 30px;
          padding:6px 12px;
          text-decoration:none;
          width: 100px;
          text-align: center;
          margin: 10px;
}

.button:hover {
          background-color: #77b55a;
}

.button:active {
          background-color:#a7e58a;
}

#map{
          position:relativegit st;
          text-align: center;
          color:white;
          font-size: 3vw;
}

[id^=row] {
          position:absolute;
          width:25%;
          padding: 5px;
}

#row1{ left:0%; }
#row2{ left:25%; }
#row3{ left:50%; }
#row4{ left:75%; }

.computer {
          position: relative;
          width: 75%;
          height: 63px;
          border:2px solid #000;
          margin:5px;
          margin-left:auto;
          margin-right:auto;
          padding: 10px;
          background:#4052a1;
          opacity: 1;
          filter: alpha(opacity=100);
          overflow-x:hidden;
          overflow-y:hidden;
          white-space: nowrap;
          font-size: 2em;
          text-align: center;
}

.signin .computer:hover { border: 2px ridge #8092e1; }
.signin .computer.taken {
          opacity: .6;
          filter: alpha(opacity=60);
          border: 2px solid #000;
          font-size: 1em;
}

.signin .computer.selected {
          background:#7082d1;
}

.signout .computer {
          opacity: .6;
          filter: alpha(opacity=60);
}
.signout .computer.taken {
          opacity: 1;
          filter: alpha(opacity=100);
          font-size: 1em;
}
.signout .computer:hover{ border: 2px solid #000; }
.signout .computer.taken:hover { border: 2px ridge #8092e1; }

.signout .computer.taken.selected{
          background:#7082d1;
}

#destination-container {
          position: relative;
          height: 7em;
          width:100%;
          white-space: nowrap;
          top:0%
}

.destination {
          position:relative;
          margin: 10px;
          background: #fff;
          border: 2px solid #3b356b;
          text-align:center;
          height:1.3em;
          overflow:hidden;
}

.destination:hover {
          border: 2px solid #fff;
}

.destination.selected {
          background: #ccc;
}

.destination.selected:hover {
          border: 2px solid #ccc;
}

.row-destinations1{
          position:absolute;
          left: 0%;
          width: 50%
}

.row-destinations2{
          position: absolute;
          right: 0%;
          width: 50%;
}

.action {
          background: #fff;
          position: absolute;
          left: 35%;
          top: 20%;
}

.action-label {
          font-size: 1.5em;
          margin: 15px;
          padding: 5px;
          border: 1px #fff dashed;
}

.action-label:hover {
          background: #92dfe4;
}
.accordion {
          display:none;
}

.accordion.active {
          display:block;
          margin: 15px;
          padding: 5px;
}

